/** elementos de la carpeta utilities: **/
/** elementos de la carpeta base: **/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/** elementos de la carpeta layout: **/
header {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
header .logo-header {
  width: 15.625rem;
}
header .logo-header img {
  width: 100%;
}

.navbar-nav .nav-link.active {
  color: white;
  font-size: 1.25rem;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1.25rem;
}

/**
.nav-bar-ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: $first;
  font-size: map-get($font-size,md);
}

#contacto-navbar-index {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-contacto {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-noticias {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-portafolio {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-proceso {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
}
**/
main {
  padding: 1.25rem 1.25rem;
}

.cover-text-index {
  display: flex;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.cover-text-index h1 {
  font-size: 3.75rem;
}
.cover-text-index div p {
  font-size: 1.5625rem;
  width: 80%;
}
.cover-text-index div a {
  color: white;
  font-size: 1.5625rem;
  width: 80%;
}

.ofrecemos {
  margin-bottom: 6.25rem;
}

.roles-box {
  display: flex;
  justify-content: space-evenly;
  height: 4.375rem;
  margin-bottom: 6.25rem;
}
.roles-box .rol-1 {
  display: flex;
  align-self: flex-start;
}
.roles-box .rol-2 {
  display: flex;
  align-self: flex-end;
}
.roles-box .rol-3 {
  display: flex;
  align-self: flex-start;
}

.container-planes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 6.25rem;
}
.container-planes .plan-index {
  margin: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 0px;
  border-radius: 5%;
  text-decoration: none;
  width: 21.875rem;
  height: 23.75rem;
  overflow: hidden;
  position: relative;
}
.container-planes .plan-index .plan-index-title {
  text-align: center;
  margin: 5px;
  border-bottom: 2px white solid;
}
.container-planes .plan-index p {
  padding: 0rem 0.3125rem;
}
.container-planes .plan-index .plan-bottom-group {
  position: absolute;
  width: 100%;
  bottom: 2px;
}
.container-planes .plan-index .plan-bottom-group div .plan-index-price {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-align: center;
  margin-top: 5px;
}
.container-planes .plan-index .plan-bottom-group .group-contacto-index {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  padding: 5px 0px 5px 0px;
}
.container-planes .plan-index .plan-bottom-group .group-contacto-index a {
  color: #181818;
  text-decoration: none;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  text-transform: lowercase;
  font-family: "JetBrains Mono", monospace;
  color: white;
  background-color: #181818;
}

.main-container-proceso {
  width: 56.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.25rem;
}
.main-container-proceso .container-proceso {
  display: grid;
  grid-template-columns: 3.125rem 3.125rem auto;
  grid-template-rows: 1fr;
  grid-template-areas: "proceso-number . proceso-body";
  margin-bottom: 1.875rem;
  margin-left: auto;
  margin-right: auto;
}
.main-container-proceso .container-proceso .proceso-number {
  padding: 10px 0px 0px 0px;
  align-items: center;
  text-align: center;
  color: #181818;
  border-radius: 100%;
  background-color: white;
  width: 48px;
  height: 48px;
  grid-area: proceso-number;
}
.main-container-proceso .container-proceso .proceso-body {
  grid-area: proceso-body;
  width: 100%;
}

.container-portafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 1.25rem;
  margin-bottom: 6.25rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}
.container-portafolio .card-portafolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-portafolio .card-portafolio .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #181818;
  border-radius: 5%;
  padding: 5px 5px 5px 5px;
  width: 21.875rem;
  height: 10.625rem;
  margin: 0.625rem;
  overflow: hidden;
}
.container-portafolio .card-portafolio .card img {
  object-fit: cover;
  margin-bottom: 0.625rem;
}
.container-portafolio .card-portafolio .card-description {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

footer {
  color: white;
  align-items: center;
  text-align: center;
  margin-bottom: 3.125rem;
}
footer a[href] {
  color: white;
}

/** elementos de la carpeta components: **/
.container-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "article1 article2 article3";
  justify-items: center;
  margin-bottom: 6.25rem;
}
.container-articles .article1, .container-articles .article3, .container-articles .article2 {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0.625rem;
  width: 21.875rem;
  text-align: center;
  overflow: hidden;
  grid-area: article1;
}
.container-articles .article1 img, .container-articles .article3 img, .container-articles .article2 img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}
.container-articles .article2 {
  grid-area: article2;
}
.container-articles .article2 img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}
.container-articles .article3 {
  grid-area: article3;
}
.container-articles .article3 img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 6.25rem;
}
.container-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #181818;
  border-radius: 5%;
  padding: 5px 5px 5px 5px;
  width: 21.875rem;
  height: 10.625rem;
  margin: 0.625rem;
  overflow: hidden;
}
.container-card .card img {
  object-fit: cover;
  margin-bottom: 0.625rem;
}

.puff-in-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.contacto-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}

.flicker-1 {
  -webkit-animation: flicker-1 3s linear infinite;
  animation: flicker-1 3s linear infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-16 17:54:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
/** elementos de la carpeta media query: **/
@media (max-width: 1150px) {
  header {
    display: flex;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.75rem;
    z-index: 3;
  }
  .container-proceso {
    display: grid;
    grid-template-columns: 3.125rem 3.125rem auto;
    grid-template-rows: 1fr;
    grid-template-areas: "proceso-number . proceso-body";
    margin-bottom: 1.875rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container-proceso .proceso-number {
    padding: 10px 0px 0px 0px;
    align-items: center;
    text-align: center;
    color: #181818;
    border-radius: 100%;
    background-color: white;
    width: 48px;
    height: 48px;
    grid-area: proceso-number;
  }
  .container-proceso .proceso-body {
    grid-area: proceso-body;
    width: 80%;
  }
  .container-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "article1 article2" "article3 .";
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.75rem;
    z-index: 3;
  }
  .cover-text-index h1 {
    font-size: xx-large;
  }
  .card img {
    display: none;
  }
  .nav-bar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.25rem;
  }
  .container-proceso {
    display: flex;
    flex-direction: column;
  }
  .container-proceso .proceso-body {
    display: flex;
    flex-direction: column;
  }
  .container-proceso .proceso-body p {
    width: 70%;
  }
  .container-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "article1" "article2" "article3";
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 480px) {
  .cover-text-index div h1 {
    font-size: x-large;
  }
  .cover-text-index div p {
    font-size: large;
  }
  .cover-text-index div a {
    font-size: large;
  }
  .flicker-1 {
    display: none;
  }
  .card img {
    display: none;
  }
  .container-proceso {
    display: flex;
    flex-direction: column;
  }
  .container-proceso .proceso-body {
    display: flex;
    flex-direction: column;
  }
  .container-proceso .proceso-body p {
    width: 40%;
  }
  .container-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "article1" "article2" "article3";
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
  .container-articles .article1, .container-articles .article2, .container-articles .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 18.75rem;
    text-align: center;
    overflow: hidden;
    grid-area: article1;
  }
  .container-articles .article2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 18.75rem;
    text-align: center;
    overflow: hidden;
    grid-area: article2;
  }
  .container-articles .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 18.75rem;
    text-align: center;
    overflow: hidden;
    grid-area: article3;
  }
  footer {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }
  .name-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .interesado-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comentarios-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3125rem;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .card img {
    display: none;
  }
  .roles-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6.25rem;
  }
  .container-proceso {
    display: flex;
    flex-direction: column;
  }
  .container-proceso .proceso-body {
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  .container-proceso .proceso-body h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  .container-proceso .proceso-body p {
    width: 30%;
  }
  .container-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "article1" "article2" "article3";
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
  .container-articles .article1, .container-articles .article2, .container-articles .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 15.625rem;
    text-align: center;
    overflow: hidden;
    grid-area: article1;
  }
  .container-articles .article1 img, .container-articles .article2 img, .container-articles .article3 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  .container-articles .article2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 15.625rem;
    text-align: center;
    overflow: hidden;
    grid-area: article2;
  }
  .container-articles .article2 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  .container-articles .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 250px;
    text-align: center;
    overflow: hidden;
    grid-area: article3;
  }
  .container-articles .article3 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  footer {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }
  .name-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .interesado-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comentarios-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3125rem;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .card img {
    display: none;
  }
  .roles-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6.25rem;
  }
  .container-proceso {
    display: flex;
    flex-direction: column;
  }
  .container-proceso .proceso-body {
    display: flex;
    flex-direction: column;
    width: 150px;
  }
  .container-proceso .proceso-body h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  .container-proceso .proceso-body p {
    width: 20%;
  }
  .container-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "article1" "article2" "article3";
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
  .container-articles .article1, .container-articles .article2, .container-articles .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 15.625rem;
    text-align: center;
    overflow: hidden;
    grid-area: article1;
  }
  .container-articles .article1 img, .container-articles .article2 img, .container-articles .article3 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  .container-articles .article2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 15.625rem;
    text-align: center;
    overflow: hidden;
    grid-area: article2;
  }
  .container-articles .article2 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  .container-articles .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0.625rem;
    width: 250px;
    text-align: center;
    overflow: hidden;
    grid-area: article3;
  }
  .container-articles .article3 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }
  .name-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .email-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .interesado-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comentarios-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3125rem;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
