@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/*
APUNTES
    #FFFFFF
    #FFFFFF 5%
    #D9D9D9
    #181818

    Importancia de último a primero
    
    Escribir un punto antes para llamar una clase
    
    font-family: 'JetBrains Mono', monospace;

    MEDIDAS
    absoluta = no cambia con la pantalla
    px = pixel
    
    relativas = cambian al tamaño de pantalla
    % = porcentaje de la pantalla
    
    REM = toma como base el font-size del html
    1 REM equivale a 16 px
    2 REM equivale a 36 px
    cambiarlo a una medida relativa font-size = 62.5%
        width: 100%
        height: 32.5 rem
        background-image: url(unplash)
FIN DE APUTNES*/

html {
  scroll-behavior: smooth;
}

body {
  text-transform: lowercase;
  font-family: "JetBrains Mono", monospace;
  color: white;
  background-color: #181818;
}

/*INICIA EL HEADER*/
header {
  display: flex;
  padding: .625rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo-header {
  width: 15.625rem;
}

.logo-header img {
  width: 100%;
}

.navbar-nav .nav-link.active {
    color: white;
    font-size: 1.25rem;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
}

.nav-bar-ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

#contacto-navbar-index {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-contacto {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-noticias {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-portafolio {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-proceso {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
}
/*FIN DEL HEADER*/

/*INICIA MAIN*/
main {
    padding: 1.25rem 1.25rem;
}

.cover-text-index {
  display: flex;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.cover-text-index h1 {
  font-size: 3.75rem;
}

.cover-text-index div p {
  font-size: 1.5625rem;
  width: 80%
}

.cover-text-index div a {
  color: white;
  font-size: 1.5625rem;
  width: 80%
}

.ofrecemos {
  margin-bottom: 6.25rem;
}

.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  margin-bottom: 6.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #181818;
  border-radius: 5%;
  padding: 5px 5px 5px 5px;
  width: 21.875rem;
  height: 10.625rem;
  margin: .625rem;
  overflow: hidden;
}

.card img {
  object-fit: cover;
  margin-bottom: .625rem;
}

.container-portafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem 1.25rem;
  margin-bottom: 6.25rem;
  width: 80.0%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.card-portafolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-description {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.roles-box {
  display: flex;
  justify-content: space-evenly;
  height: 4.375rem;
  margin-bottom: 6.25rem;
}

.rol-1 {
  display: flex;
  align-self: flex-start;
}

.rol-2 {
  display: flex;
  align-self: flex-end;
}

.rol-3 {
  display: flex;
  align-self: flex-start;
}

.rol-4 {
  display: flex;
  align-self: flex-end;
}

.rol-5 {
  display: flex;
  align-self: flex-start;
}

.container-planes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 6.25rem;
}

.plan-index {
  margin: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px 0px;
  border-radius: 5%;
  text-decoration: none;
  width: 21.875rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.plan-index p {
  padding: 0rem .3125rem
}


.plan-index-title {
  text-align: center;
  margin: 5px;
  border-bottom: 2px white solid;
}

.plan-index-price {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-align: center;
  margin-top: 5px;
}

.plan-bottom-group {
  position: absolute;
  width: 100%;
  bottom:2px;
}

.group-contacto-index {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  padding: 5px 0px 5px 0px;
}

.group-contacto-index a {
  color: #181818;
  text-decoration: none;
  text-align: center;
}

.page-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125rem;
}

.main-container-proceso { 
  width: 56.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.25rem
}

.container-proceso {
  display: grid;
  grid-template-columns: 3.125rem 3.125rem auto;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "proceso-number . proceso-body"
  ;
  margin-bottom: 1.875rem;
  margin-left: auto;
  margin-right: auto;
}

.proceso-number {
  padding: 10px 0px 0px 0px;
  align-items: center;
  text-align: center;
  color: #181818;
  border-radius: 100%;
  background-color: white;
  width: 48px;
  height: 48px;
  grid-area: proceso-number;
}

.proceso-body {
  grid-area: proceso-body;
  width: 100%;
}

.container-articles { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "article1 article2 article3"
  ;
  justify-items: center;
  margin-bottom: 6.25rem;
}

.article1 {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin: .625rem;
  width: 21.875rem;
  text-align: center;
  overflow: hidden;
  grid-area: article1;
}

.article1 img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.article2 {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin: .625rem;
  width: 21.875rem;
  text-align: center;
  overflow: hidden;
}

.article2 img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  grid-area: article2;
}

.article3 {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin: .625rem;
  width: 21.875rem;
  text-align: center;
  overflow: hidden;
  grid-area: article3;
}

.article3 img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.contacto-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}
/*FIN MAIN*/

footer {
  color: white;
  align-items: center;
  text-align: center;
  margin-bottom: 3.125rem;
}

footer a[href] {
  color: white;
}

@media (max-width: 1150px) {
  header {
    display: flex;
    padding: .625rem 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: .75rem;
    z-index: 3;
  }
  
  .proceso-body {
    grid-area: proceso-body;
    width: 80%;
  }
  .container-articles { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "article1 article2"
    "article3 ."
    ;
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    padding: .625rem 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: .75rem;
    z-index: 3;
  }
  
  .cover-text-index h1 {
    font-size: xx-large;
  }

  .card img {
    display: none;
  }

  .nav-bar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.25rem;
  }
  
  .proceso-body {
    grid-area: proceso-body;
    width: 60%;
  }

  .container-articles { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "article1"
    "article2"
    "article3"
    ;
    justify-items: center;
    row-gap: 3.125rem;
    margin-bottom: 6.25rem;
  }
}

@media (max-width: 480px) {
  .cover-text-index div h1 {
    font-size: x-large;
  }

  .cover-text-index div p {
    font-size: large;
  }

  .cover-text-index div a {
    font-size: large;
  }

  .nasa {
    display: none;
  }

  .card img {
    display: none;
  }

  .proceso-body {
    grid-area: proceso-body;
    width: 40%;
  }
  
  .article1 {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin: .625rem;
  width: 18.75rem;
  text-align: center;
  overflow: hidden;
  grid-area: article1;
  }

  .article2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: .625rem;
    width: 18.75rem;
    text-align: center;
    overflow: hidden;
  }

  .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: .625rem;
    width: 18.75rem;
    text-align: center;
    overflow: hidden;
    grid-area: article3;
  }
  footer {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    padding-left: .3125rem;
    padding-right: .3125rem;
  }

  .name-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interesado-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comentarios-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .3125rem;
  }

  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .card img {
    display: none;
  }
  
  .roles-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 6.25rem;
  }

  .proceso-body {
    grid-area: proceso-body;
    width: 25%;
  }

  .article1 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: .625rem;
    width: 15.625rem;
    text-align: center;
    overflow: hidden;
    grid-area: article1;
  }

  .article1 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }

  .article2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: .625rem;
    width: 15.625rem;
    text-align: center;
    overflow: hidden;
  }

  .article2 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    grid-area: article2;
  }

  .article3 {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    margin: .625rem;
    width: 250px;
    text-align: center;
    overflow: hidden;
    grid-area: article3;
  }

  .article3 img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    padding-left: .3125rem;
    padding-right: .3125rem;
  }

  .name-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interesado-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comentarios-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .3125rem;
  }

  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}   

@media (max-width: 320px) {
  .card img {
    display: none;
  }

  .roles-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 6.25rem;
  }

  .proceso-body {
    grid-area: proceso-body;
    width: 15%;
  }  

  .name-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interesado-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comentarios-label-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .3125rem;
  }

  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  
}
