


.navbar-nav .nav-link.active {
    color: $first;
    font-size: map-get($font-size,md);
}

.navbar-nav .nav-link {
    color: $first;
    font-size: map-get($font-size,md);
}
/**
.nav-bar-ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: $first;
  font-size: map-get($font-size,md);
}

#contacto-navbar-index {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-contacto {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-noticias {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-portafolio {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-proceso {
  color: $second;
  background-color: $first;
  padding: 5px 5px;
  border-radius: 6%;
}
**/
