.navbar-nav .nav-link.active {
    color: white;
    font-size: 1.25rem;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
}

.nav-bar-ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.nav-bar-ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

#contacto-navbar-index {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-contacto {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-noticias {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-portafolio {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
  text-decoration: none;
}

#contacto-navbar-proceso {
  color: #181818;
  background-color: white;
  padding: 5px 5px;
  border-radius: 6%;
}